In [51]:
import pandas as pd
import yfinance as yf
import datetime
import time
import requests
import io

In [52]:
start = datetime.datetime(2020,2,1)
end = datetime.datetime(2020,10,11)

In [53]:
Symbols = ["GME","AMC"]

In [54]:
# create empty dataframe
stock_final = pd.DataFrame()
# iterate over each symbol
for i in Symbols:  
    
    # print the symbol which is being downloaded
    print( str(Symbols.index(i)) + str(' : ') + i, sep=',', end=',', flush=True)  
    
    try:
        # download the stock price 
        stock = []
        stock = yf.ticker(i).history(period="1mo", interval= "60m")
        
        # append the individual stock prices 
        if len(stock) == 0:
            None
        else:
            stock['Name']=i
            stock_final = stock_final.append(stock,sort=False)
    except Exception:
        None

0 : GME,1 : AMC,

In [55]:
stock_final.head()

Empty DataFrame
Columns: []
Index: []

In [56]:
aapl= yf.Ticker("aapl")
aapl

yfinance.Ticker object <AAPL>

In [57]:
# stock_df = pd.DataFrame()
# for i in Symbols:
#   stock_list = []
#   ticker = yf.Ticker(i)
#   stock_list.append(stock.history(period="1mo", interval="60m"))
#   ticker['Name']=i
#   stock_df = stock_df.append(ticker,sort=False)

In [58]:
aapl_historical = aapl.history(period="1mo", interval="60m")
aapl_historical

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2021-01-25 09:30:00-05:00,143.222702,145.080002,142.948196,144.229996,46354729,0.0,0
2021-01-25 10:30:00-05:00,144.229996,144.320007,136.539993,141.220001,37087128,0.0,0
2021-01-25 11:30:00-05:00,141.220001,142.949997,140.910004,141.190002,18948572,0.0,0
2021-01-25 12:30:00-05:00,141.179993,143.289993,141.039993,142.989899,14505566,0.0,0
2021-01-25 13:30:00-05:00,143.009995,143.250000,141.789993,142.582001,11219998,0.0,0
...,...,...,...,...,...,...,...
2021-02-23 11:30:00-05:00,123.010101,123.250000,121.309998,122.422401,16440941,0.0,0
2021-02-23 12:30:00-05:00,122.419998,123.750000,121.500000,123.540001,16077145,0.0,0
2021-02-23 13:30:00-05:00,123.559998,125.192001,123.459999,124.750000,15368938,0.0,0
2021-02-23 14:30:00-05:00,124.765602,126.699997,124.400002,126.650002,16831412,0.0,0
2021-02-23 15:30:00-05:00,126.639999,126.709999,125.660004,125.849998,10688071,0.0,0

In [59]:
tickers_list = ["aapl", "goog", "amzn", "BAC", "BA"] # example list
tickers_data= {} # empty dictionary

In [60]:
for ticker in tickers_list:
    ticker_object = yf.Ticker(ticker)

    #convert info() output from dictionary to dataframe
    # temp = pd.DataFrame.from_dict(ticker_object.history(period="1mo", interval="60m"), orient="index")
    temp = ticker_object.history(period="1mo", interval="60m")
    # temp.reset_index(inplace=True)
    # temp.columns = ["Open",	"High,"	"Low",	"Close	Volume",	"Dividends",	"Stock Splits"]
    
    # add (ticker, dataframe) to main dictionary
    tickers_data[ticker] = temp

tickers_data

{'aapl':                                  Open        High         Low       Close  \
 Datetime
 2021-01-25 09:30:00-05:00  143.222702  145.080002  142.948196  144.229996
 2021-01-25 10:30:00-05:00  144.229996  144.320007  136.539993  141.220001
 2021-01-25 11:30:00-05:00  141.220001  142.949997  140.910004  141.190002
 2021-01-25 12:30:00-05:00  141.179993  143.289993  141.039993  142.989899
 2021-01-25 13:30:00-05:00  143.009995  143.250000  141.789993  142.582001
 ...                               ...         ...         ...         ...
 2021-02-23 11:30:00-05:00  123.010101  123.250000  121.309998  122.422401
 2021-02-23 12:30:00-05:00  122.419998  123.750000  121.500000  123.540001
 2021-02-23 13:30:00-05:00  123.559998  125.192001  123.459999  124.750000
 2021-02-23 14:30:00-05:00  124.765602  126.699997  124.400002  126.650002
 2021-02-23 15:30:00-05:00  126.639999  126.709999  125.660004  125.849998

                              Volume  Dividends  Stock Splits
 Datetime
 2021-01-25 09:30:00-05:00  46354729        0.0             0
 2021-01-25 10:30:00-05:00  37087128        0.0             0
 2021-01-25 11:30:00-05:00  18948572        0.0             0
 2021-01-25 12:30:00-05:00  14505566        0.0             0
 2021-01-25 13:30:00-05:00  11219998        0.0             0
 ...                             ...        ...           ...
 2021-02-23 11:30:00-05:00  16440941        0.0             0
 2021-02-23 12:30:00-05:00  16077145        0.0             0
 2021-02-23 13:30:00-05:00  15368938        0.0             0
 2021-02-23 14:30:00-05:00  16831412        0.0             0
 2021-02-23 15:30:00-05:00  10688071        0.0             0

 [147 rows x 7 columns],
 'goog':                                   Open         High          Low        Close  \
 Datetime
 2021-01-25 09:30:00-05:00  1920.670044  1929.000000  1905.709961  1908.430054
 2021-01-25 10:30:00-05:00  1907.780029  1908.400024  1867.530029  1885.829956
 2021-01-25 11:30:00-05:00  1885.160034  1887.449951  1870.520020  1874.489990
 2021-01-25 12:30:00-05:00  1872.579956  1887.479980  1871.920044  1880.762939
 2021-01-25 13:30:00-05:00  1881.609985  1881.719971  1870.540039  1880.339966
 ...                                ...          ...          ...          ...
 2021-02-23 11:30:00-05:00  2047.760010  2057.639893  2039.020020  2050.850098
 2021-02-23 12:30:00-05:00  2050.850098  2052.280029  2023.290039  2047.939941
 2021-02-23 13:30:00-05:00  2046.939941  2054.699951  2041.329956  2053.320068
 2021-02-23 14:30:00-05:00  2053.320068  2082.010010  2042.469971  2080.120117
 2021-02-23 15:30:00-05:00  2079.790039  2079.790039  2066.229980  2071.360107

                            Volume  Dividends  Stock Splits
 Datetime
 2021-01-25 09:30:00-05:00  459528          0             0
 2021-01-25 10:30:00-05:00  346145          0             0
 2021-01-25 11:30:00-05:00  225327          0             0
 2021-01-25 12:30:00-05:00  180478          0             0
 2021-01-25 13:30:00-05:00  143510          0             0
 ...                           ...        ...           ...
 2021-02-23 11:30:00-05:00  144657          0             0
 2021-02-23 12:30:00-05:00  157659          0             0
 2021-02-23 13:30:00-05:00  109973          0             0
 2021-02-23 14:30:00-05:00  158460          0             0
 2021-02-23 15:30:00-05:00  130558          0             0

 [147 rows x 7 columns],
 'amzn':                                   Open         High          Low        Close  \
 Datetime
 2021-01-25 09:30:00-05:00  3328.500000  3363.889893  3322.438965  3323.989990
 2021-01-25 10:30:00-05:00  3323.750000  3325.000000  3243.146240  3271.919922
 2021-01-25 11:30:00-05:00  3272.989990  3298.280029  3266.689941  3284.379883
 2021-01-25 12:30:00-05:00  3281.659912  3315.979980  3280.550049  3308.280029
 2021-01-25 13:30:00-05:00  3309.000000  3310.239990  3291.010010  3300.820068
 ...                                ...          ...          ...          ...
 2021-02-23 11:30:00-05:00  3141.697510  3156.209961  3133.070068  3154.709961
 2021-02-23 12:30:00-05:00  3153.935059  3155.419922  3123.010010  3147.000000
 2021-02-23 13:30:00-05:00  3144.395996  3157.689941  3135.419922  3155.918213
 2021-02-23 14:30:00-05:00  3156.939941  3197.199951  3143.030029  3196.800049
 2021-02-23 15:30:00-05:00  3197.199951  3204.729980  3187.760010  3195.649902

                             Volume  Dividends  Stock Splits
 Datetime
 2021-01-25 09:30:00-05:00  1078011          0             0
 2021-01-25 10:30:00-05:00   878730          0             0
 2021-01-25 11:30:00-05:00   383187          0             0
 2021-01-25 12:30:00-05:00   336392          0             0
 2021-01-25 13:30:00-05:00   220346          0             0
 ...                            ...        ...           ...
 2021-02-23 11:30:00-05:00   341532          0             0
 2021-02-23 12:30:00-05:00   301392          0             0
 2021-02-23 13:30:00-05:00  1018632          0             0
 2021-02-23 14:30:00-05:00   408092          0             0
 2021-02-23 15:30:00-05:00   418972          0             0

 [147 rows x 7 columns],
 'BAC':                                 Open       High        Low      Close  \
 Datetime
 2021-01-25 09:30:00-05:00  31.270000  31.299999  30.830000  30.965000
 2021-01-25 10:30:00-05:00  30.961300  31.030001  30.580000  30.620001
 2021-01-25 11:30:00-05:00  30.615000  30.900000  30.570000  30.840000
 2021-01-25 12:30:00-05:00  30.840000  31.070000  30.809999  31.020000
 2021-01-25 13:30:00-05:00  31.020000  31.100000  30.980000  31.025000
 ...                              ...        ...        ...        ...
 2021-02-23 11:30:00-05:00  35.560001  35.649899  35.470001  35.525002
 2021-02-23 12:30:00-05:00  35.529999  35.560001  35.380001  35.450001
 2021-02-23 13:30:00-05:00  35.455002  35.480000  35.340000  35.445000
 2021-02-23 14:30:00-05:00  35.439999  35.540001  35.310101  35.474998
 2021-02-23 15:30:00-05:00  35.474998  35.560001  35.410000  35.540001

                              Volume  Dividends  Stock Splits
 Datetime
 2021-01-25 09:30:00-05:00  12795804          0             0
 2021-01-25 10:30:00-05:00   9241912          0             0
 2021-01-25 11:30:00-05:00   5750072          0             0
 2021-01-25 12:30:00-05:00   4462611          0             0
 2021-01-25 13:30:00-05:00   4281348          0             0
 ...                             ...        ...           ...
 2021-02-23 11:30:00-05:00   7383661          0             0
 2021-02-23 12:30:00-05:00   7011086          0             0
 2021-02-23 13:30:00-05:00   4156900          0             0
 2021-02-23 14:30:00-05:00   7481272          0             0
 2021-02-23 15:30:00-05:00   6229212          0             0

 [147 rows x 7 columns],
 'BA':                                  Open        High         Low       Close  \
 Datetime
 2021-01-25 09:30:00-05:00  203.264999  203.800003  200.479996  202.716797
 2021-01-25 10:30:00-05:00  202.720001  203.149994  199.300003  200.339996
 2021-01-25 11:30:00-05:00  200.354996  201.500000  200.000000  200.600006
 2021-01-25 12:30:00-05:00  200.600006  202.889999  200.410004  202.600006
 2021-01-25 13:30:00-05:00  202.699997  203.149994  202.000000  202.399994
 ...                               ...         ...         ...         ...
 2021-02-23 11:30:00-05:00  211.410004  212.627701  208.444107  209.035004
 2021-02-23 12:30:00-05:00  209.039993  210.059998  207.410004  209.889999
 2021-02-23 13:30:00-05:00  209.940002  211.369995  208.929993  211.164993
 2021-02-23 14:30:00-05:00  211.110001  212.959900  210.169998  212.845001
 2021-02-23 15:30:00-05:00  212.880005  213.449997  211.970001  212.130005

                             Volume  Dividends  Stock Splits
 Datetime
 2021-01-25 09:30:00-05:00  5026996          0             0
 2021-01-25 10:30:00-05:00  2823783          0             0
 2021-01-25 11:30:00-05:00  1982160          0             0
 2021-01-25 12:30:00-05:00  1141698          0             0
 2021-01-25 13:30:00-05:00   882624          0             0
 ...                            ...        ...           ...
 2021-02-23 11:30:00-05:00  2044352          0             0
 2021-02-23 12:30:00-05:00  1821443          0             0
 2021-02-23 13:30:00-05:00  1111583          0             0
 2021-02-23 14:30:00-05:00  1205711          0             0
 2021-02-23 15:30:00-05:00  1041122          0             0

 [147 rows x 7 columns]}

In [61]:
tickers_data["BAC"].columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

In [62]:
tickers_data.keys()

dict_keys(['aapl', 'goog', 'amzn', 'BAC', 'BA'])

In [63]:
for key in tickers_data.keys():
  print(key)

aapl
goog
amzn
BAC
BA

In [64]:
df = pd.DataFrame(yf.download(tickers_list, period="3mo", interval="60m", group_by='tickers', index=False))

[*********************100%***********************]  5 of 5 completed

In [82]:
ba_df = df["BA"]
ba_df

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-11-24 09:30:00-05:00,219.429993,222.949997,215.759995,222.119995,222.119995,10936423
2020-11-24 10:30:00-05:00,222.184998,222.241104,216.990005,220.350006,220.350006,5271632
2020-11-24 11:30:00-05:00,220.345001,221.383408,217.850006,221.059998,221.059998,3763616
2020-11-24 12:30:00-05:00,221.059998,221.289993,218.890900,219.529999,219.529999,2380204
2020-11-24 13:30:00-05:00,219.516098,220.080002,217.360001,217.729996,217.729996,2447618
...,...,...,...,...,...,...
2021-02-23 11:30:00-05:00,211.410004,212.627701,208.444107,209.035004,209.035004,2044352
2021-02-23 12:30:00-05:00,209.039993,210.059998,207.410004,209.889999,209.889999,1821443
2021-02-23 13:30:00-05:00,209.940002,211.369995,208.929993,211.164993,211.164993,1111583
2021-02-23 14:30:00-05:00,211.110001,212.959900,210.169998,212.845001,212.845001,1205711
2021-02-23 15:30:00-05:00,212.880005,213.449997,211.970001,212.130005,212.130005,1041122

In [66]:
ba_df["mentions"] = None
ba_df

,Open,High,Low,Close,Adj Close,Volume,mentions
Datetime,,,,,,,
2020-11-24 09:30:00-05:00,219.429993,222.949997,215.759995,222.119995,222.119995,10936423,None
2020-11-24 10:30:00-05:00,222.184998,222.241104,216.990005,220.350006,220.350006,5271632,None
2020-11-24 11:30:00-05:00,220.345001,221.383408,217.850006,221.059998,221.059998,3763616,None
2020-11-24 12:30:00-05:00,221.059998,221.289993,218.890900,219.529999,219.529999,2380204,None
2020-11-24 13:30:00-05:00,219.516098,220.080002,217.360001,217.729996,217.729996,2447618,None
...,...,...,...,...,...,...,...
2021-02-23 11:30:00-05:00,211.410004,212.627701,208.444107,209.035004,209.035004,2044352,None
2021-02-23 12:30:00-05:00,209.039993,210.059998,207.410004,209.889999,209.889999,1821443,None
2021-02-23 13:30:00-05:00,209.940002,211.369995,208.929993,211.164993,211.164993,1111583,None
2021-02-23 14:30:00-05:00,211.110001,212.959900,210.169998,212.845001,212.845001,1205711,None
2021-02-23 15:30:00-05:00,212.880005,213.449997,211.970001,212.130005,212.130005,1041122,None

In [67]:
df.columns.to_list()

[('BAC', 'Open'),
 ('BAC', 'High'),
 ('BAC', 'Low'),
 ('BAC', 'Close'),
 ('BAC', 'Adj Close'),
 ('BAC', 'Volume'),
 ('GOOG', 'Open'),
 ('GOOG', 'High'),
 ('GOOG', 'Low'),
 ('GOOG', 'Close'),
 ('GOOG', 'Adj Close'),
 ('GOOG', 'Volume'),
 ('AAPL', 'Open'),
 ('AAPL', 'High'),
 ('AAPL', 'Low'),
 ('AAPL', 'Close'),
 ('AAPL', 'Adj Close'),
 ('AAPL', 'Volume'),
 ('BA', 'Open'),
 ('BA', 'High'),
 ('BA', 'Low'),
 ('BA', 'Close'),
 ('BA', 'Adj Close'),
 ('BA', 'Volume'),
 ('AMZN', 'Open'),
 ('AMZN', 'High'),
 ('AMZN', 'Low'),
 ('AMZN', 'Close'),
 ('AMZN', 'Adj Close'),
 ('AMZN', 'Volume')]

In [86]:
new_df = pd.DataFrame
for ticker in tickers_list:
   df[ticker, "mentions"] = None

In [84]:
df["AAPL", "mentions"] = None

In [88]:
df.columns.to_list()

[('BAC', 'Open'),
 ('BAC', 'High'),
 ('BAC', 'Low'),
 ('BAC', 'Close'),
 ('BAC', 'Adj Close'),
 ('BAC', 'Volume'),
 ('GOOG', 'Open'),
 ('GOOG', 'High'),
 ('GOOG', 'Low'),
 ('GOOG', 'Close'),
 ('GOOG', 'Adj Close'),
 ('GOOG', 'Volume'),
 ('AAPL', 'Open'),
 ('AAPL', 'High'),
 ('AAPL', 'Low'),
 ('AAPL', 'Close'),
 ('AAPL', 'Adj Close'),
 ('AAPL', 'Volume'),
 ('BA', 'Open'),
 ('BA', 'High'),
 ('BA', 'Low'),
 ('BA', 'Close'),
 ('BA', 'Adj Close'),
 ('BA', 'Volume'),
 ('AMZN', 'Open'),
 ('AMZN', 'High'),
 ('AMZN', 'Low'),
 ('AMZN', 'Close'),
 ('AMZN', 'Adj Close'),
 ('AMZN', 'Volume'),
 ('AAPL', 'mentions'),
 ('aapl', 'mentions'),
 ('goog', 'mentions'),
 ('amzn', 'mentions'),
 ('BAC', 'mentions'),
 ('BA', 'mentions')]

In [90]:
df = df.sort_index(axis=1)

In [91]:
df

                                 AAPL                                      \
                            Adj Close       Close        High         Low
Datetime
2020-11-24 09:30:00-05:00  113.404999  113.404999  114.029999  112.589996
2020-11-24 10:30:00-05:00  114.919998  114.919998  115.120003  113.339996
2020-11-24 11:30:00-05:00  114.660004  114.660004  115.370003  114.230003
2020-11-24 12:30:00-05:00  115.040001  115.040001  115.309998  114.550697
2020-11-24 13:30:00-05:00  115.074997  115.074997  115.849998  114.970001
...                               ...         ...         ...         ...
2021-02-23 11:30:00-05:00  122.422401  122.422401  123.250000  121.309998
2021-02-23 12:30:00-05:00  123.540001  123.540001  123.750000  121.500000
2021-02-23 13:30:00-05:00  124.750000  124.750000  125.192001  123.459999
2021-02-23 14:30:00-05:00  126.650002  126.650002  126.699997  124.400002
2021-02-23 15:30:00-05:00  125.849998  125.849998  126.709999  125.660004

                                                                 AMZN  \
                                 Open    Volume mentions    Adj Close
Datetime
2020-11-24 09:30:00-05:00  113.839996  33477148     None  3095.270020
2020-11-24 10:30:00-05:00  113.400002  18001545     None  3109.186768
2020-11-24 11:30:00-05:00  114.919998  12525075     None  3114.379883
2020-11-24 12:30:00-05:00  114.669998   8877179     None  3123.050049
2020-11-24 13:30:00-05:00  115.044998  12060020     None  3124.574951
...                               ...       ...      ...          ...
2021-02-23 11:30:00-05:00  123.010101  16440941     None  3154.709961
2021-02-23 12:30:00-05:00  122.419998  16077145     None  3147.000000
2021-02-23 13:30:00-05:00  123.559998  15368938     None  3155.918213
2021-02-23 14:30:00-05:00  124.765602  16831412     None  3196.800049
2021-02-23 15:30:00-05:00  126.639999  10688071     None  3195.649902

                                                     ...      BAC  \
                                 Close         High  ... mentions
Datetime                                             ...
2020-11-24 09:30:00-05:00  3095.270020  3111.235107  ...     None
2020-11-24 10:30:00-05:00  3109.186768  3116.989990  ...     None
2020-11-24 11:30:00-05:00  3114.379883  3120.080078  ...     None
2020-11-24 12:30:00-05:00  3123.050049  3131.264893  ...     None
2020-11-24 13:30:00-05:00  3124.574951  3134.250000  ...     None
...                                ...          ...  ...      ...
2021-02-23 11:30:00-05:00  3154.709961  3156.209961  ...     None
2021-02-23 12:30:00-05:00  3147.000000  3155.419922  ...     None
2021-02-23 13:30:00-05:00  3155.918213  3157.689941  ...     None
2021-02-23 14:30:00-05:00  3196.800049  3197.199951  ...     None
2021-02-23 15:30:00-05:00  3195.649902  3204.729980  ...     None

                                  GOOG                                         \
                             Adj Close        Close         High          Low
Datetime
2020-11-24 09:30:00-05:00  1732.000000  1732.000000  1741.270020  1727.689941
2020-11-24 10:30:00-05:00  1754.867554  1754.867554  1756.159912  1729.509521
2020-11-24 11:30:00-05:00  1757.959961  1757.959961  1762.949951  1752.180054
2020-11-24 12:30:00-05:00  1761.890015  1761.890015  1765.000000  1757.227783
2020-11-24 13:30:00-05:00  1763.979980  1763.979980  1769.119995  1762.010010
...                                ...          ...          ...          ...
2021-02-23 11:30:00-05:00  2050.850098  2050.850098  2057.639893  2039.020020
2021-02-23 12:30:00-05:00  2047.939941  2047.939941  2052.280029  2023.290039
2021-02-23 13:30:00-05:00  2053.320068  2053.320068  2054.699951  2041.329956
2021-02-23 14:30:00-05:00  2080.120117  2080.120117  2082.010010  2042.469971
2021-02-23 15:30:00-05:00  2071.360107  2071.360107  2079.790039  2066.229980

                                                   aapl     amzn     goog
                                  Open  Volume mentions mentions mentions
Datetime
2020-11-24 09:30:00-05:00  1730.500000  334548     None     None     None
2020-11-24 10:30:00-05:00  1732.000000  196850     None     None     None
2020-11-24 11:30:00-05:00  1754.859985  127929     None     None     None
2020-11-24 12:30:00-05:00  1757.869995  165173     None     None     None
2020-11-24 13:30:00-05:00  1763.199951  126399     None     None     None
...                                ...     ...      ...      ...      ...
2021-02-23 11:30:00-05:00  2047.760010  144657     None     None     None
2021-02-23 12:30:00-05:00  2050.850098  157659     None     None     None
2021-02-23 13:30:00-05:00  2046.939941  109973     None     None     None
2021-02-23 14:30:00-05:00  2053.320068  158460     None     None     None
2021-02-23 15:30:00-05:00  2079.790039  130558     None     None     None

[421 rows x 36 columns]

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-11-24 09:30:00-05:00,27.930000,28.495001,27.920000,28.480101,28.480101,25595049
2020-11-24 10:30:00-05:00,28.480000,28.530001,28.270000,28.395000,28.395000,9278188
2020-11-24 11:30:00-05:00,28.400000,28.799999,28.379999,28.617399,28.617399,7983811
2020-11-24 12:30:00-05:00,28.615499,28.780001,28.520000,28.645000,28.645000,5965121
2020-11-24 13:30:00-05:00,28.645000,28.660000,28.500000,28.540001,28.540001,5132400
...,...,...,...,...,...,...
2021-02-23 11:30:00-05:00,35.560001,35.649899,35.470001,35.525002,35.525002,7383661
2021-02-23 12:30:00-05:00,35.529999,35.560001,35.380001,35.450001,35.450001,7011086
2021-02-23 13:30:00-05:00,35.455002,35.480000,35.340000,35.445000,35.445000,4156900
2021-02-23 14:30:00-05:00,35.439999,35.540001,35.310101,35.474998,35.474998,7481272
2021-02-23 15:30:00-05:00,35.474998,35.560001,35.410000,35.540001,35.540001,6229212

In [16]:
df["timestamp"] = df.index

In [17]:
df

                                  AMZN                                         \
                                  Open         High          Low        Close
Datetime
2020-11-24 09:30:00-05:00  3100.500000  3111.235107  3086.258057  3095.270020
2020-11-24 10:30:00-05:00  3094.689941  3116.989990  3093.010010  3109.186768
2020-11-24 11:30:00-05:00  3108.389893  3120.080078  3105.000000  3114.379883
2020-11-24 12:30:00-05:00  3113.850098  3131.264893  3113.794922  3123.050049
2020-11-24 13:30:00-05:00  3124.409912  3134.250000  3123.300049  3124.574951
...                                ...          ...          ...          ...
2021-02-23 11:30:00-05:00  3141.697510  3156.209961  3133.070068  3154.709961
2021-02-23 12:30:00-05:00  3153.935059  3155.419922  3123.010010  3147.000000
2021-02-23 13:30:00-05:00  3144.395996  3157.689941  3135.419922  3155.918213
2021-02-23 14:30:00-05:00  3156.939941  3197.199951  3143.030029  3196.800049
2021-02-23 15:30:00-05:00  3197.199951  3204.729980  3187.760010  3195.649902

                                                         BA              \
                             Adj Close   Volume        Open        High
Datetime
2020-11-24 09:30:00-05:00  3095.270020  1056662  219.429993  222.949997
2020-11-24 10:30:00-05:00  3109.186768   547723  222.184998  222.241104
2020-11-24 11:30:00-05:00  3114.379883   374198  220.345001  221.383408
2020-11-24 12:30:00-05:00  3123.050049   421525  221.059998  221.289993
2020-11-24 13:30:00-05:00  3124.574951   314198  219.516098  220.080002
...                                ...      ...         ...         ...
2021-02-23 11:30:00-05:00  3154.709961   341532  211.410004  212.627701
2021-02-23 12:30:00-05:00  3147.000000   301392  209.039993  210.059998
2021-02-23 13:30:00-05:00  3155.918213  1018632  209.940002  211.369995
2021-02-23 14:30:00-05:00  3196.800049   408092  211.110001  212.959900
2021-02-23 15:30:00-05:00  3195.649902   418972  212.880005  213.449997

                                                   ...         GOOG  \
                                  Low       Close  ...        Close
Datetime                                           ...
2020-11-24 09:30:00-05:00  215.759995  222.119995  ...  1732.000000
2020-11-24 10:30:00-05:00  216.990005  220.350006  ...  1754.867554
2020-11-24 11:30:00-05:00  217.850006  221.059998  ...  1757.959961
2020-11-24 12:30:00-05:00  218.890900  219.529999  ...  1761.890015
2020-11-24 13:30:00-05:00  217.360001  217.729996  ...  1763.979980
...                               ...         ...  ...          ...
2021-02-23 11:30:00-05:00  208.444107  209.035004  ...  2050.850098
2021-02-23 12:30:00-05:00  207.410004  209.889999  ...  2047.939941
2021-02-23 13:30:00-05:00  208.929993  211.164993  ...  2053.320068
2021-02-23 14:30:00-05:00  210.169998  212.845001  ...  2080.120117
2021-02-23 15:30:00-05:00  211.970001  212.130005  ...  2071.360107

                                                      BAC             \
                             Adj Close  Volume       Open       High
Datetime
2020-11-24 09:30:00-05:00  1732.000000  334548  27.930000  28.495001
2020-11-24 10:30:00-05:00  1754.867554  196850  28.480000  28.530001
2020-11-24 11:30:00-05:00  1757.959961  127929  28.400000  28.799999
2020-11-24 12:30:00-05:00  1761.890015  165173  28.615499  28.780001
2020-11-24 13:30:00-05:00  1763.979980  126399  28.645000  28.660000
...                                ...     ...        ...        ...
2021-02-23 11:30:00-05:00  2050.850098  144657  35.560001  35.649899
2021-02-23 12:30:00-05:00  2047.939941  157659  35.529999  35.560001
2021-02-23 13:30:00-05:00  2053.320068  109973  35.455002  35.480000
2021-02-23 14:30:00-05:00  2080.120117  158460  35.439999  35.540001
2021-02-23 15:30:00-05:00  2071.360107  130558  35.474998  35.560001

                                                                      \
                                 Low      Close  Adj Close    Volume
Datetime
2020-11-24 09:30:00-05:00  27.920000  28.480101  28.480101  25595049
2020-11-24 10:30:00-05:00  28.270000  28.395000  28.395000   9278188
2020-11-24 11:30:00-05:00  28.379999  28.617399  28.617399   7983811
2020-11-24 12:30:00-05:00  28.520000  28.645000  28.645000   5965121
2020-11-24 13:30:00-05:00  28.500000  28.540001  28.540001   5132400
...                              ...        ...        ...       ...
2021-02-23 11:30:00-05:00  35.470001  35.525002  35.525002   7383661
2021-02-23 12:30:00-05:00  35.380001  35.450001  35.450001   7011086
2021-02-23 13:30:00-05:00  35.340000  35.445000  35.445000   4156900
2021-02-23 14:30:00-05:00  35.310101  35.474998  35.474998   7481272
2021-02-23 15:30:00-05:00  35.410000  35.540001  35.540001   6229212

                                          timestamp

Datetime
2020-11-24 09:30:00-05:00 2020-11-24 09:30:00-05:00
2020-11-24 10:30:00-05:00 2020-11-24 10:30:00-05:00
2020-11-24 11:30:00-05:00 2020-11-24 11:30:00-05:00
2020-11-24 12:30:00-05:00 2020-11-24 12:30:00-05:00
2020-11-24 13:30:00-05:00 2020-11-24 13:30:00-05:00
...                                             ...
2021-02-23 11:30:00-05:00 2021-02-23 11:30:00-05:00
2021-02-23 12:30:00-05:00 2021-02-23 12:30:00-05:00
2021-02-23 13:30:00-05:00 2021-02-23 13:30:00-05:00
2021-02-23 14:30:00-05:00 2021-02-23 14:30:00-05:00
2021-02-23 15:30:00-05:00 2021-02-23 15:30:00-05:00

[421 rows x 31 columns]

In [18]:
for i in df:
  df[i]["timestamp"] = df.index

In [19]:
df.stack()

                                              AMZN            BA  \
Datetime
2020-11-24 09:30:00-05:00 Open         3100.500000  2.194300e+02
                          High         3111.235107  2.229500e+02
                          Low          3086.258057  2.157600e+02
                          Close        3095.270020  2.221200e+02
                          Adj Close    3095.270020  2.221200e+02
...                                            ...           ...
2021-02-23 15:30:00-05:00 Low          3187.760010  2.119700e+02
                          Close        3195.649902  2.121300e+02
                          Adj Close    3195.649902  2.121300e+02
                          Volume     418972.000000  1.041122e+06
                                               NaN           NaN

                                             AAPL           GOOG  \
Datetime
2020-11-24 09:30:00-05:00 Open       1.138400e+02    1730.500000
                          High       1.140300e+02    1741.270020
                          Low        1.125900e+02    1727.689941
                          Close      1.134050e+02    1732.000000
                          Adj Close  1.134050e+02    1732.000000
...                                           ...            ...
2021-02-23 15:30:00-05:00 Low        1.256600e+02    2066.229980
                          Close      1.258500e+02    2071.360107
                          Adj Close  1.258500e+02    2071.360107
                          Volume     1.068807e+07  130558.000000
                                              NaN            NaN

                                              BAC                 timestamp
Datetime
2020-11-24 09:30:00-05:00 Open       2.793000e+01                       NaT
                          High       2.849500e+01                       NaT
                          Low        2.792000e+01                       NaT
                          Close      2.848010e+01                       NaT
                          Adj Close  2.848010e+01                       NaT
...                                           ...                       ...
2021-02-23 15:30:00-05:00 Low        3.541000e+01                       NaT
                          Close      3.554000e+01                       NaT
                          Adj Close  3.554000e+01                       NaT
                          Volume     6.229212e+06                       NaT
                                              NaN 2021-02-23 15:30:00-05:00

[2947 rows x 6 columns]

In [28]:
df.T

Datetime             2020-11-24 09:30:00-05:00  2020-11-24 10:30:00-05:00  \
AMZN      Open                          3100.5                    3094.69
          High                         3111.24                    3116.99
          Low                          3086.26                    3093.01
          Close                        3095.27                    3109.19
          Adj Close                    3095.27                    3109.19
          Volume                       1056662                     547723
BA        Open                          219.43                    222.185
          High                          222.95                    222.241
          Low                           215.76                     216.99
          Close                         222.12                     220.35
          Adj Close                     222.12                     220.35
          Volume                      10936423                    5271632
AAPL      Open                          113.84                      113.4
          High                          114.03                     115.12
          Low                           112.59                     113.34
          Close                        113.405                     114.92
          Adj Close                    113.405                     114.92
          Volume                      33477148                   18001545
GOOG      Open                          1730.5                       1732
          High                         1741.27                    1756.16
          Low                          1727.69                    1729.51
          Close                           1732                    1754.87
          Adj Close                       1732                    1754.87
          Volume                        334548                     196850
BAC       Open                           27.93                      28.48
          High                          28.495                      28.53
          Low                            27.92                      28.27
          Close                        28.4801                     28.395
          Adj Close                    28.4801                     28.395
          Volume                      25595049                    9278188
timestamp            2020-11-24 09:30:00-05:00  2020-11-24 10:30:00-05:00

Datetime             2020-11-24 11:30:00-05:00  2020-11-24 12:30:00-05:00  \
AMZN      Open                         3108.39                    3113.85
          High                         3120.08                    3131.26
          Low                             3105                    3113.79
          Close                        3114.38                    3123.05
          Adj Close                    3114.38                    3123.05
          Volume                        374198                     421525
BA        Open                         220.345                     221.06
          High                         221.383                     221.29
          Low                           217.85                    218.891
          Close                         221.06                     219.53
          Adj Close                     221.06                     219.53
          Volume                       3763616                    2380204
AAPL      Open                          114.92                     114.67
          High                          115.37                     115.31
          Low                           114.23                    114.551
          Close                         114.66                     115.04
          Adj Close                     114.66                     115.04
          Volume                      12525075                    8877179
GOOG      Open                         1754.86                    1757.87
          High                         1762.95                       1765
          Low                          1752.18                    1757.23
          Close                        1757.96                    1761.89
          Adj Close                    1757.96                    1761.89
          Volume                        127929                     165173
BAC       Open                            28.4                    28.6155
          High                            28.8                      28.78
          Low                            28.38                      28.52
          Close                        28.6174                     28.645
          Adj Close                    28.6174                     28.645
          Volume                       7983811                    5965121
timestamp            2020-11-24 11:30:00-05:00  2020-11-24 12:30:00-05:00

Datetime             2020-11-24 13:30:00-05:00  2020-11-24 14:30:00-05:00  \
AMZN      Open                         3124.41                    3124.61
          High                         3134.25                    3128.43
          Low                           3123.3                    3113.13
          Close                        3124.57                    3120.41
          Adj Close                    3124.57                    3120.41
          Volume                        314198                     339627
BA        Open                         219.516                     217.74
          High                          220.08                     219.52
          Low                           217.36                      216.8
          Close                         217.73                      219.3
          Adj Close                     217.73                      219.3
          Volume                       2447618                    2996207
AAPL      Open                         115.045                     115.08
          High                          115.85                     115.72
          Low                           114.97                        115
          Close                        115.075                    115.675
          Adj Close                    115.075                    115.675
          Volume                      12060020                    9252988
GOOG      Open                          1763.2                     1764.5
          High                         1769.12                    1768.14
          Low                          1762.01                    1762.05
          Close                        1763.98                    1768.14
          Adj Close                    1763.98                    1768.14
          Volume                        126399                     135235
BAC       Open                          28.645                     28.545
          High                           28.66                      28.74
          Low                             28.5                     28.515
          Close                          28.54                     28.715
          Adj Close                      28.54                     28.715
          Volume                       5132400                    6598315
timestamp            2020-11-24 13:30:00-05:00  2020-11-24 14:30:00-05:00

Datetime             2020-11-24 15:30:00-05:00  2020-11-25 09:30:00-05:00  \
AMZN      Open                         3120.41                    3141.87
          High                         3122.88                    3196.54
          Low                          3114.09                    3140.26
          Close                        3116.86                    3175.98
          Adj Close                    3116.86                    3175.98
          Volume                        305308                    1348535
BA        Open                          219.32                      216.5
          High                          219.46                        218
          Low                            217.8                     213.09
          Close                         218.43                     216.22
          Adj Close                     218.43                     216.22
          Volume                       1954115                    5977479
AAPL      Open                          115.67                    115.715
          High                          115.73                     116.61
          Low                           114.97                     115.17
          Close                         115.17                     115.98
          Adj Close                     115.17                     115.98
          Volume                       9528581                   24276299
GOOG      Open                         1768.52                    1773.29
          High                          1771.6                    1774.27
          Low                          1766.62                    1756.54
          Close                        1768.28                    1759.95
          Adj Close                    1768.28                    1759.95
          Volume                        179209                     226820
BAC       Open                           28.72                      28.71
          High                           28.99                      28.74
          Low                            28.67                    28.4801
          Close                          28.98                      28.64
          Adj Close                      28.98                      28.64
          Volume                      12881465                   16055498
timestamp            2020-11-24 15:30:00-05:00  2020-11-25 09:30:00-05:00

Datetime             2020-11-25 10:30:00-05:00  2020-11-25 11:30:00-05:00  \
AMZN      Open                         3177.22                    3182.06
          High                            3198                    3185.99
          Low                           3176.4                    3162.43
          Close                        3183.62                       3179
          Adj Close                    3183.62                       3179
          Volume                        525257                     388798
BA        Open                          216.22                    217.344
          High                          218.83                        221
          Low                           216.11                      217.3
          Close                        217.345                     218.85
          Adj Close                    217.345                     218.85
          Volume                       3762885                    2953472
AAPL      Open                         115.978                     116.17
          High                          116.75                    116.324
          Low                           115.88                      115.7
          Close                         116.17                    115.948
          Adj Close                     116.17                    115.948
          Volume                      11108305                    7605490
GOOG      Open                         1760.29                    1765.39
          High                         1771.83                    1774.91
          Low                          1759.76                       1765
          Close                        1766.67                       1774
          Adj Close                    1766.67                       1774
          Volume                        117347                     104756
BAC       Open                           28.64                      28.83
          High                            28.9                      28.97
          Low                            28.59                      28.79
          Close                         28.825                    28.8545
          Adj Close                     28.825                    28.8545
          Volume                       6557388                    5884200
timestamp            2020-11-25 10:30:00-05:00  2020-11-25 11:30:00-05:00

Datetime             ...  2021-02-22 13:30:00-05:00  \
AMZN      Open       ...                    3204.11
          High       ...                    3214.53
          Low        ...                    3196.51
          Close      ...                    3198.57
          Adj Close  ...                    3198.57
          Volume     ...                     256063
BA        Open       ...                     218.21
          High       ...                     218.66
          Low        ...                     216.22
          Close      ...                      217.1
          Adj Close  ...                      217.1
          Volume     ...                    1775581
AAPL      Open       ...                     127.25
          High       ...                     127.96
          Low        ...                    127.241
          Close      ...                    127.665
          Adj Close  ...                    127.665
          Volume     ...                    7243320
GOOG      Open       ...                    2085.49
          High       ...                    2091.42
          Low        ...                    2079.83
          Close      ...                    2081.65
          Adj Close  ...                    2081.65
          Volume     ...                      98243
BAC       Open       ...                      35.18
          High       ...                      35.22
          Low        ...                      35.06
          Close      ...                     35.175
          Adj Close  ...                     35.175
          Volume     ...                    3706221
timestamp            ...  2021-02-22 13:30:00-05:00

Datetime             2021-02-22 14:30:00-05:00  2021-02-22 15:30:00-05:00  \
AMZN      Open                            3200                    3183.64
          High                            3201                    3191.09
          Low                           3183.5                    3178.17
          Close                        3184.43                    3182.39
          Adj Close                    3184.43                    3182.39
          Volume                        246879                     426714
BA        Open                         217.204                     213.82
          High                          217.67                      214.3
          Low                           213.83                     212.69
          Close                         213.85                     212.88
          Adj Close                     213.85                     212.88
          Volume                       1636623                    1927931
AAPL      Open                          127.66                    126.485
          High                          127.71                     126.75
          Low                          126.461                        126
          Close                        126.489                     126.01
          Adj Close                    126.489                     126.01
          Volume                       9822365                   13749348
GOOG      Open                          2081.5                    2071.82
          High                         2082.31                    2074.89
          Low                          2068.52                    2063.12
          Close                        2071.36                    2063.97
          Adj Close                    2071.36                    2063.97
          Volume                        129147                     253523
BAC       Open                          35.175                     35.055
          High                            35.2                      35.19
          Low                            35.05                      35.03
          Close                        35.0501                      35.15
          Adj Close                    35.0501                      35.15
          Volume                       3866625                    6058306
timestamp            2021-02-22 14:30:00-05:00  2021-02-22 15:30:00-05:00

Datetime             2021-02-23 09:30:00-05:00  2021-02-23 10:30:00-05:00  \
AMZN      Open                         3127.03                     3151.6
          High                         3155.88                    3169.52
          Low                           3093.6                    3129.12
          Close                        3150.89                    3140.18
          Adj Close                    3150.89                    3140.18
          Volume                       1343620                     517010
BA        Open                          214.15                     212.43
          High                          214.75                      214.1
          Low                            206.6                     211.06
          Close                         212.43                     211.37
          Adj Close                     212.43                     211.37
          Volume                       5676422                    2563577
AAPL      Open                          123.76                      123.2
          High                          123.79                     124.12
          Low                            118.5                     122.57
          Close                         123.21                     123.03
          Adj Close                     123.21                     123.03
          Volume                      55635192                   19820863
GOOG      Open                         2025.01                    2035.48
          High                         2042.33                    2068.55
          Low                          2002.02                    2033.28
          Close                        2036.84                    2046.68
          Adj Close                    2036.84                    2046.68
          Volume                        594717                     248985
BAC       Open                           35.42                      35.76
          High                            35.8                      35.89
          Low                           35.145                      35.43
          Close                        35.7544                      35.56
          Adj Close                    35.7544                      35.56
          Volume                      19557174                   10618950
timestamp            2021-02-23 09:30:00-05:00  2021-02-23 10:30:00-05:00

Datetime             2021-02-23 11:30:00-05:00  2021-02-23 12:30:00-05:00  \
AMZN      Open                          3141.7                    3153.94
          High                         3156.21                    3155.42
          Low                          3133.07                    3123.01
          Close                        3154.71                       3147
          Adj Close                    3154.71                       3147
          Volume                        341532                     301392
BA        Open                          211.41                     209.04
          High                         212.628                     210.06
          Low                          208.444                     207.41
          Close                        209.035                     209.89
          Adj Close                    209.035                     209.89
          Volume                       2044352                    1821443
AAPL      Open                          123.01                     122.42
          High                          123.25                     123.75
          Low                           121.31                      121.5
          Close                        122.422                     123.54
          Adj Close                    122.422                     123.54
          Volume                      16440941                   16077145
GOOG      Open                         2047.76                    2050.85
          High                         2057.64                    2052.28
          Low                          2039.02                    2023.29
          Close                        2050.85                    2047.94

In [20]:
df.loc[df["timestamp"] == "2020-11-11 12:30:00-05:00", ["AAPL"]]

Empty DataFrame
Columns: [(AAPL, Open), (AAPL, High), (AAPL, Low), (AAPL, Close), (AAPL, Adj Close), (AAPL, Volume)]
Index: []

In [21]:
df["BA"]["Open"]

Datetime
2020-11-24 09:30:00-05:00    219.429993
2020-11-24 10:30:00-05:00    222.184998
2020-11-24 11:30:00-05:00    220.345001
2020-11-24 12:30:00-05:00    221.059998
2020-11-24 13:30:00-05:00    219.516098
                                ...
2021-02-23 11:30:00-05:00    211.410004
2021-02-23 12:30:00-05:00    209.039993
2021-02-23 13:30:00-05:00    209.940002
2021-02-23 14:30:00-05:00    211.110001
2021-02-23 15:30:00-05:00    212.880005
Name: Open, Length: 421, dtype: float64

In [22]:
ba_df = df["BA"]

In [23]:
ba_df

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2020-11-24 09:30:00-05:00,219.429993,222.949997,215.759995,222.119995,222.119995,10936423
2020-11-24 10:30:00-05:00,222.184998,222.241104,216.990005,220.350006,220.350006,5271632
2020-11-24 11:30:00-05:00,220.345001,221.383408,217.850006,221.059998,221.059998,3763616
2020-11-24 12:30:00-05:00,221.059998,221.289993,218.890900,219.529999,219.529999,2380204
2020-11-24 13:30:00-05:00,219.516098,220.080002,217.360001,217.729996,217.729996,2447618
...,...,...,...,...,...,...
2021-02-23 11:30:00-05:00,211.410004,212.627701,208.444107,209.035004,209.035004,2044352
2021-02-23 12:30:00-05:00,209.039993,210.059998,207.410004,209.889999,209.889999,1821443
2021-02-23 13:30:00-05:00,209.940002,211.369995,208.929993,211.164993,211.164993,1295453
2021-02-23 14:30:00-05:00,211.110001,212.959900,210.169998,212.845001,212.845001,1205711
2021-02-23 15:30:00-05:00,212.880005,213.449997,211.970001,212.130005,212.130005,1041122

In [24]:
ba_df.loc[df["timestamp"] == "2020-11-11 12:30:00-05:00", ["Open", "Close","Volume"]]

Empty DataFrame
Columns: [Open, Close, Volume]
Index: []

In [25]:
ticker_names = df.columns.to_list()

In [26]:
ticker_names

[('AMZN', 'Open'),
 ('AMZN', 'High'),
 ('AMZN', 'Low'),
 ('AMZN', 'Close'),
 ('AMZN', 'Adj Close'),
 ('AMZN', 'Volume'),
 ('BA', 'Open'),
 ('BA', 'High'),
 ('BA', 'Low'),
 ('BA', 'Close'),
 ('BA', 'Adj Close'),
 ('BA', 'Volume'),
 ('AAPL', 'Open'),
 ('AAPL', 'High'),
 ('AAPL', 'Low'),
 ('AAPL', 'Close'),
 ('AAPL', 'Adj Close'),
 ('AAPL', 'Volume'),
 ('GOOG', 'Open'),
 ('GOOG', 'High'),
 ('GOOG', 'Low'),
 ('GOOG', 'Close'),
 ('GOOG', 'Adj Close'),
 ('GOOG', 'Volume'),
 ('BAC', 'Open'),
 ('BAC', 'High'),
 ('BAC', 'Low'),
 ('BAC', 'Close'),
 ('BAC', 'Adj Close'),
 ('BAC', 'Volume'),
 ('timestamp', '')]