In [193]:
import pandas as pd
import yfinance as yf
import datetime
from datetime import datetime

In [194]:
combo_multi_path = "../Data/combo_count_multiindex.csv"
ticker_path = "../Data/final_ticker_list.csv"

In [195]:
count_df = pd.read_csv(combo_multi_path, header=[0,1], index_col=0)
ticker_list = pd.read_csv(ticker_path)

In [196]:
ticker_list = ticker_list["Tickers"].to_list()

In [197]:
count_df.head()

,AMC,PUBM,GOGO,ISUN,CLVS,GME,SKT,LGND,TRIT,ESPR,...,JP,AAPL,ET,MSM,FB,TLRY,BRO,CRSR,IBKR,BIO
,mentions,mentions,mentions,mentions,mentions,mentions,mentions,mentions,mentions,mentions,...,mentions,mentions,mentions,mentions,mentions,mentions,mentions,mentions,mentions,mentions
date,,,,,,,,,,,,,,,,,,,,,
2020-12-08,11.0,2.0,6.0,0.0,0.0,1841.0,0.0,0.0,0.0,0.0,...,4.0,88.0,136.0,0.0,11.0,1.0,84.0,46.0,5.0,2.0
2020-12-09,2.0,31.0,6.0,0.0,0.0,1938.0,0.0,0.0,0.0,1.0,...,69.0,213.0,281.0,0.0,168.0,3.0,164.0,91.0,11.0,8.0
2020-12-10,26.0,3.0,1.0,0.0,0.0,591.0,1.0,0.0,2.0,0.0,...,63.0,114.0,242.0,4.0,159.0,1.0,135.0,52.0,8.0,13.0
2020-12-11,15.0,3.0,0.0,0.0,0.0,428.0,2.0,2.0,0.0,0.0,...,23.0,114.0,249.0,9.0,54.0,0.0,194.0,103.0,18.0,13.0
2020-12-12,34.0,0.0,1.0,0.0,0.0,269.0,0.0,0.0,0.0,0.0,...,18.0,71.0,165.0,0.0,35.0,0.0,144.0,42.0,15.0,11.0

In [198]:
df = pd.DataFrame(yf.download(ticker_list, start="2020-12-08", end="2021-02-05", interval="1d", group_by='tickers', index=False))

[*********************100%***********************]  82 of 82 completed

In [199]:
df.head()

             SENS                                                  SLV  \
             Open   High    Low  Close Adj Close     Volume       Open
Date
2020-12-08  0.420  0.425  0.391  0.400     0.400  3669400.0  22.920000
2020-12-09  0.406  0.425  0.400  0.410     0.410  2087100.0  22.540001
2020-12-10  0.410  0.428  0.400  0.418     0.418  1773700.0  22.379999
2020-12-11  0.430  0.439  0.414  0.421     0.421  2161700.0  22.230000
2020-12-14  0.423  0.430  0.411  0.420     0.420  1371300.0  22.350000

                                         ...  PGEN                             \
                 High        Low  Close  ...   Low Close Adj Close     Volume
Date                                     ...
2020-12-08  23.120001  22.730000  22.82  ...  8.09  8.40      8.40  1440100.0
2020-12-09  22.570000  21.930000  22.23  ...  7.99  8.33      8.33   810400.0
2020-12-10  22.580000  22.190001  22.32  ...  8.16  8.30      8.30   663300.0
2020-12-11  22.430000  22.190001  22.26  ...  7.98  8.27      8.27   627800.0
2020-12-14  22.530001  22.120001  22.16  ...  8.46  9.23      9.23  1650400.0

              MCS
             Open   High    Low  Close Adj Close     Volume
Date
2020-12-08  11.69  12.55  11.66  12.16     12.16   645200.0
2020-12-09  12.49  12.65  11.46  11.71     11.71   870600.0
2020-12-10  11.50  11.88  11.29  11.78     11.78   982100.0
2020-12-11  11.86  13.05  11.67  12.66     12.66  1205100.0
2020-12-14  13.09  13.23  12.16  12.28     12.28  1142600.0

[5 rows x 492 columns]

In [200]:
amc_count = pd.DataFrame(count_df["AMC"])

In [201]:
amc_price = df["AMC"]

In [202]:
amc_result = amc_count.join(amc_price)
amc_result

            mentions   Open       High    Low  Close  Adj Close        Volume
date
2020-12-08      11.0   3.61   4.020000   3.61   3.98       3.98  2.953060e+07
2020-12-09       2.0   4.22   4.330000   3.75   3.86       3.86  2.099120e+07
2020-12-10      26.0   3.79   4.100000   3.77   4.09       4.09  1.987280e+07
2020-12-11      15.0   4.04   4.250000   3.87   3.92       3.92  2.231040e+07
2020-12-12      34.0    NaN        NaN    NaN    NaN        NaN           NaN
2020-12-13      12.0    NaN        NaN    NaN    NaN        NaN           NaN
2020-12-14      47.0   4.01   4.010000   3.00   3.19       3.19  6.715900e+07
2020-12-15      67.0   3.24   3.240000   2.76   2.86       2.86  5.443210e+07
2020-12-16      67.0   2.87   2.890000   2.72   2.78       2.78  2.542320e+07
2020-12-17      45.0   2.80   2.950000   2.74   2.85       2.85  2.379930e+07
2020-12-18      16.0   2.85   2.850000   2.76   2.80       2.80  2.194170e+07
2020-12-19      15.0    NaN        NaN    NaN    NaN        NaN           NaN
2020-12-20       8.0    NaN        NaN    NaN    NaN        NaN           NaN
2020-12-21      66.0   2.61   2.740000   2.58   2.68       2.68  2.269980e+07
2020-12-22      31.0   2.73   2.750000   2.52   2.59       2.59  2.163840e+07
2020-12-23      27.0   2.58   2.650000   2.54   2.56       2.56  1.572480e+07
2020-12-24       7.0   2.59   2.600000   2.48   2.51       2.51  1.109420e+07
2020-12-25      18.0    NaN        NaN    NaN    NaN        NaN           NaN
2020-12-26      15.0    NaN        NaN    NaN    NaN        NaN           NaN
2020-12-27      13.0    NaN        NaN    NaN    NaN        NaN           NaN
2020-12-28      40.0   2.63   2.630000   2.36   2.39       2.39  2.394270e+07
2020-12-29      41.0   2.44   2.460000   2.28   2.29       2.29  2.108610e+07
2020-12-30      40.0   2.30   2.300000   2.13   2.16       2.16  4.027840e+07
2020-12-31      32.0   2.17   2.220000   2.08   2.12       2.12  2.823430e+07
2021-01-01       5.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-02       2.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-03       3.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-04       5.0   2.20   2.200000   2.00   2.01       2.01  2.987380e+07
2021-01-05       8.0   1.99   2.030000   1.91   1.98       1.98  2.814830e+07
2021-01-06       9.0   2.03   2.230000   1.97   2.01       2.01  6.736330e+07
2021-01-07      10.0   2.08   2.110000   2.02   2.05       2.05  2.615050e+07
2021-01-08       4.0   2.09   2.210000   2.07   2.14       2.14  3.955330e+07
2021-01-09       2.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-10       1.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-11       8.0   2.16   2.270000   2.15   2.20       2.20  4.169580e+07
2021-01-12       8.0   2.24   2.390000   2.24   2.29       2.29  4.178430e+07
2021-01-13       9.0   2.33   2.380000   2.13   2.18       2.18  4.584770e+07
2021-01-14      18.0   2.22   2.320000   2.13   2.18       2.18  4.963880e+07
2021-01-15     104.0   2.20   2.550000   2.18   2.33       2.33  1.623564e+08
2021-01-16      21.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-17      26.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-18      66.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-19     160.0   2.80   3.200000   2.57   3.06       3.06  2.562760e+08
2021-01-20      89.0   3.29   3.340000   2.75   2.97       2.97  1.818622e+08
2021-01-21      44.0   3.00   3.060000   2.85   2.98       2.98  6.482380e+07
2021-01-22     611.0   2.91   3.740000   2.81   3.51       3.51  2.682734e+08
2021-01-23     103.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-24      42.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-25     634.0   4.71   4.880000   3.85   4.42       4.42  4.432381e+08
2021-01-26     231.0   5.09   5.190000   4.37   4.96       4.96  4.568502e+08
2021-01-27   20976.0  20.34  20.360001  11.01  19.90      19.90  1.222342e+09
2021-01-28   32927.0  11.98  16.500000   6.51   8.63       8.63  5.912239e+08
2021-01-29   24385.0  14.31  16.000000  11.60  13.26      13.26  6.021933e+08
2021-01-30   17968.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-01-31   13640.0    NaN        NaN    NaN    NaN        NaN           NaN
2021-02-01   24050.0  17.00  17.250000  12.91  13.30      13.30  4.346080e+08
2021-02-02   19798.0   9.48  10.100000   6.00   7.82       7.82  4.627759e+08
2021-02-03    3630.0   8.85   9.770000   7.89   8.97       8.97  2.214051e+08
2021-02-04      95.0   8.70   8.740000   7.00   7.09       7.09  1.629858e+08

In [203]:
# for ticker in ticker_list:
#     df[ticker, "Mentions"] = count_df[ticker, "mentions"]

In [204]:
# df = df.sort_index(axis=1)
# df.head()

In [205]:
# new_df = pd.concat([df, count_df], axis=1)

In [208]:
# new_df =new_df.sort_index(axis=1)
# new_df

In [215]:
joined_df = count_df.join(df)
joined_df.head()

                AMC     PUBM     GOGO     ISUN     CLVS      GME      SKT  \
           mentions mentions mentions mentions mentions mentions mentions
date
2020-12-08     11.0      2.0      6.0      0.0      0.0   1841.0      0.0
2020-12-09      2.0     31.0      6.0      0.0      0.0   1938.0      0.0
2020-12-10     26.0      3.0      1.0      0.0      0.0    591.0      1.0
2020-12-11     15.0      3.0      0.0      0.0      0.0    428.0      2.0
2020-12-12     34.0      0.0      1.0      0.0      0.0    269.0      0.0

               LGND     TRIT     ESPR  ...  PGEN                             \
           mentions mentions mentions  ...   Low Close Adj Close     Volume
date                                   ...
2020-12-08      0.0      0.0      0.0  ...  8.09  8.40      8.40  1440100.0
2020-12-09      0.0      0.0      1.0  ...  7.99  8.33      8.33   810400.0
2020-12-10      0.0      2.0      0.0  ...  8.16  8.30      8.30   663300.0
2020-12-11      2.0      0.0      0.0  ...  7.98  8.27      8.27   627800.0
2020-12-12      0.0      0.0      0.0  ...   NaN   NaN       NaN        NaN

              MCS
             Open   High    Low  Close Adj Close     Volume
date
2020-12-08  11.69  12.55  11.66  12.16     12.16   645200.0
2020-12-09  12.49  12.65  11.46  11.71     11.71   870600.0
2020-12-10  11.50  11.88  11.29  11.78     11.78   982100.0
2020-12-11  11.86  13.05  11.67  12.66     12.66  1205100.0
2020-12-12    NaN    NaN    NaN    NaN       NaN        NaN

[5 rows x 574 columns]

In [224]:
joined_df.sort_index(axis=1)
joined_df.head()

                AMC     PUBM     GOGO     ISUN     CLVS      GME      SKT  \
           mentions mentions mentions mentions mentions mentions mentions
date
2020-12-08     11.0      2.0      6.0      0.0      0.0   1841.0      0.0
2020-12-09      2.0     31.0      6.0      0.0      0.0   1938.0      0.0
2020-12-10     26.0      3.0      1.0      0.0      0.0    591.0      1.0
2020-12-11     15.0      3.0      0.0      0.0      0.0    428.0      2.0
2020-12-12     34.0      0.0      1.0      0.0      0.0    269.0      0.0

               LGND     TRIT     ESPR  ...  PGEN                             \
           mentions mentions mentions  ...   Low Close Adj Close     Volume
date                                   ...
2020-12-08      0.0      0.0      0.0  ...  8.09  8.40      8.40  1440100.0
2020-12-09      0.0      0.0      1.0  ...  7.99  8.33      8.33   810400.0
2020-12-10      0.0      2.0      0.0  ...  8.16  8.30      8.30   663300.0
2020-12-11      2.0      0.0      0.0  ...  7.98  8.27      8.27   627800.0
2020-12-12      0.0      0.0      0.0  ...   NaN   NaN       NaN        NaN

              MCS
             Open   High    Low  Close Adj Close     Volume
date
2020-12-08  11.69  12.55  11.66  12.16     12.16   645200.0
2020-12-09  12.49  12.65  11.46  11.71     11.71   870600.0
2020-12-10  11.50  11.88  11.29  11.78     11.78   982100.0
2020-12-11  11.86  13.05  11.67  12.66     12.66  1205100.0
2020-12-12    NaN    NaN    NaN    NaN       NaN        NaN

[5 rows x 574 columns]

In [232]:
stack = joined_df.stack(list(range(joined_df.columns.nlevels - 1)))

In [233]:
stack = pd.DataFrame(stack)

In [236]:
stack

                  Adj Close       Close        High         Low        Open  \
date
2020-12-08 AAL    17.629999   17.629999   17.920000   17.160000   17.469999
           AAPL  124.194412  124.379997  124.980003  123.089996  124.370003
           ALOT   11.680000   11.680000   11.740000   11.500000   11.520000
           AMC     3.980000    3.980000    4.020000    3.610000    3.610000
           AMCX   31.070000   31.070000   32.139999   30.889999   31.280001
...                     ...         ...         ...         ...         ...
2021-02-04 TRHC   53.450001   53.450001   54.490002   52.770000   54.290001
           TRIT    6.920000    6.920000    7.160000    6.900000    7.150000
           TSLA  849.989990  849.989990  856.500000  833.419983  855.000000
           VXRT    9.050000    9.050000   10.500000    8.910000    9.940000
           ZYXI   18.160000   18.160000   18.980000   17.910000   18.910000

                     Volume  mentions
date
2020-12-08 AAL   95855400.0      21.0
           AAPL  82225500.0      88.0
           ALOT     27100.0       4.0
           AMC   29530600.0      11.0
           AMCX    591300.0       0.0
...                     ...       ...
2021-02-04 TRHC    331900.0       0.0
           TRIT   4005300.0       0.0
           TSLA  15812700.0       0.0
           VXRT  37896600.0       6.0
           ZYXI    559300.0       0.0

[4838 rows x 7 columns]