In [32]:
import re
import pandas as pd
from datetime import datetime
import numpy as np

In [33]:
comment_path = "../Data/cleaned_wsb_comments.csv"
post_path = "../Data/cleaned_wsb_posts.csv"
ticker_path = "../Data/final_ticker_list.csv"

In [34]:
comment_df = pd.read_csv(comment_path)
post_df = pd.read_csv(post_path)
ticker_df = pd.read_csv(ticker_path)

In [35]:
ticker_list = ticker_df["Tickers"].to_list()

In [36]:
comment_df["created_utc"] = pd.to_datetime(comment_df["created_utc"], unit="s")
post_df["created_utc"] = pd.to_datetime(post_df["created_utc"], unit="s")

In [37]:
title_df = pd.DataFrame({
    'title': post_df['title'],
    'date_created': pd.to_datetime(post_df['created_utc'], unit='s')
})
title_df

                                                    title        date_created
0                                 Ruled by the Theta Gods 2020-12-14 14:50:30
1                                      3k and I want more 2020-12-14 14:50:04
2       Thank you fellow retards and autists! Big ston... 2020-12-14 14:49:44
3       AZN fair value of $55, price of $50, vaccine c... 2020-12-14 14:48:02
4                                I wanna be less retarded 2020-12-14 14:48:00
...                                                   ...                 ...
649540  bro this is the most true shit ever and i canâ€™... 2020-12-27 18:29:16
649541  Took 5 years of losing on trading shares until... 2020-12-27 18:25:02
649542                                                ðŸ’Ž âœ‹ 2020-12-27 18:22:05
649543   Was it a dream??!ðŸ˜´ ðŸ˜´ GME opens on Monday up 100% 2020-12-27 18:19:49
649544   Trading Plan 2021 - Need your constructive input 2020-12-27 18:19:43

[649545 rows x 2 columns]

In [38]:
for ticker in ticker_list:
    title_df[ticker] = np.where(title_df['title'].str.lower().str.contains(ticker), 1, 0)

In [39]:
title_df["date"] = title_df["date_created"].dt.date

In [40]:
agg_df = title_df.groupby('date')[ticker_list].sum()
agg_df

KeyError: 'Columns not found: '

In [20]:
# ticker_df["Tickers"] = ""

In [22]:
ticker_df

   Tickers
0
1
2
3
4
..     ...
80
81
82
83
84

[85 rows x 1 columns]

In [21]:
# title_df.columns.to_list()