In [5]:
import pandas as pd
import re
import numpy as np

In [6]:
post_path = "../Data/wallstreetbets_posts.csv"
# comment_path = "../Data/wallstreetbets_comments.csv"
title_path = "title_df.csv"

In [9]:
# comment_df = pd.read_csv(comment_path)
# post_df = pd.read_csv(post_path)
title_df = pd.read_csv(title_path)

In [35]:
title_df

,Unnamed: 0,title,ticker_name
0,0,Ruled by the Theta Gods,NaN
1,1,3k and I want more,NaN
2,2,Thank you fellow retards and autists! Big ston...,NaN
3,3,"AZN fair value of $55, price of $50, vaccine c...",NaN
4,4,I wanna be less retarded,NaN
...,...,...,...
707456,707456,bro this is the most true shit ever and i canâ€™...,NaN
707457,707457,Took 5 years of losing on trading shares until...,NaN
707458,707458,ðŸ’Ž âœ‹,NaN
707459,707459,Was it a dream??!ðŸ˜´ ðŸ˜´ GME opens on Monday up 100%,NaN
707460,707460,Trading Plan 2021 - Need your constructive input,NaN

In [14]:
ticker_list = pd.read_csv("../Data/tickers.csv")

In [15]:
index_title = title_df.columns.get_loc("title")
index_ticker_name = title_df.columns.get_loc("ticker_name")
index_ticker_list = ticker_list.columns.get_loc("Ticker")
print(index_title, index_ticker_name, index_ticker_list)

1 2 1

In [34]:
ticker_list

      Unnamed: 0 Ticker
0              0   AACG
1              1   AACQ
2              2  AACQU
3              3  AACQW
4              4   AAIC
...          ...    ...
6929        6929  ZWRKW
6930        6930   ZYME
6931        6931   ZYNE
6932        6932   ZYXI
6933        6933    SLV

[6934 rows x 2 columns]

In [16]:

title_df['title']=title_df['title'].apply(str)

In [23]:
%%time
for row in range(0, 100):
    for ticker in ticker_list["Ticker"]:
        ticker_name = re.search(rf'\s({ticker})\s', title_df.iat[row, index_title], re.IGNORECASE)
        if ticker_name is not None:
            title_df.iat[row, index_ticker_name] = ticker_name
            print(ticker, row)

CAR 9
BEPC 22
MTL 23
BOOM 31
CERT 32
EV 33
FORD 33
CD 35
PS 35
BFT 39
GOOD 45
PUMP 51
PUMP 53
GOOD 61
GME 64
LI 88
NIO 88
XPEV 88
NIO 94
WKHS 96
CPU times: user 1min 46s, sys: 3.18 s, total: 1min 49s
Wall time: 1min 55s

In [33]:
[[ticker for ticker in title if ticker in ticker_list] for title in title_df['title'].str.split()[:80]]

[[],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 []]

In [ ]:
%%time
for row in post_df.itertuples():
    for ticker in ticker_list["Ticker"]:
        individual_ticker_name = re.search(rf'\s({ticker})\s', row.title, re.IGNORECASE)
        if individual_ticker_name is not None:
            post_df.iloc[row.index][index_ticker_name] = individual_ticker_name

In [42]:
a_string = "A string is more than its parts!"
matches = ["more", "wholesome", "milk"]

any(x in a_string for x in matches)

AttributeError: 'str' object has no attribute 'matches'