In [24]:
import re
import pandas as pd
from datetime import datetime
import numpy as np

In [4]:
stonk_df = pd.read_csv('/Users/gregfinin/Class/Final_Project_WSB/stocks_df_final.csv')
stonk_df

     Ticker Name  Ticker Count
0             AA            20
1           AACG             0
2           AACQ             0
3          AACQU             0
4          AACQW             0
...          ...           ...
6930       ZWRKW             0
6931        ZYME             1
6932        ZYNE             2
6933        ZYXI             1
6934         SLV           862

[6935 rows x 2 columns]

In [5]:
path = "s3://wsb-final-project-bucket/kaggle_wsb_posts_12:6-2:6.csv"

In [6]:
df = pd.read_csv(path)

In [20]:
title_df = pd.DataFrame({
    'title': df['title'],
    'date_created': pd.to_datetime(df['created_utc'], unit='s')
})
title_df

                                                    title        date_created
0                                 Ruled by the Theta Gods 2020-12-14 14:50:30
1                                      3k and I want more 2020-12-14 14:50:04
2       Thank you fellow retards and autists! Big ston... 2020-12-14 14:49:44
3       AZN fair value of $55, price of $50, vaccine c... 2020-12-14 14:48:02
4                                I wanna be less retarded 2020-12-14 14:48:00
...                                                   ...                 ...
707456  bro this is the most true shit ever and i canâ€™... 2020-12-27 18:29:16
707457  Took 5 years of losing on trading shares until... 2020-12-27 18:25:02
707458                                                ðŸ’Ž âœ‹ 2020-12-27 18:22:05
707459   Was it a dream??!ðŸ˜´ ðŸ˜´ GME opens on Monday up 100% 2020-12-27 18:19:49
707460   Trading Plan 2021 - Need your constructive input 2020-12-27 18:19:43

[707461 rows x 2 columns]

In [8]:
ticker_tester = ['gme', 'amc', 'bb']

In [21]:
title_df['date_created'].min(), title_df['date_created'].max()

(Timestamp('2020-12-08 14:51:38'), Timestamp('2021-02-04 05:42:21'))

In [16]:
date_df = pd.to_datetime(da, unit='s')
date_df

NameError: name 'da' is not defined

In [30]:
for ticker in ticker_tester:
    title_df[ticker] = np.where(title_df['title'].str.lower().str.contains(ticker), 1, 0)

In [23]:
title_df.head()

,title,date_created,gme,amc,bb
0,Ruled by the Theta Gods,2020-12-14 14:50:30,False,False,False
1,3k and I want more,2020-12-14 14:50:04,False,False,False
2,Thank you fellow retards and autists! Big ston...,2020-12-14 14:49:44,False,False,False
3,"AZN fair value of $55, price of $50, vaccine c...",2020-12-14 14:48:02,False,False,False
4,I wanna be less retarded,2020-12-14 14:48:00,False,False,False

In [25]:
title_df['gme_count'] = np.where(title_df['gme'] == True, 1, 0)

In [26]:
title_df.head()

,title,date_created,gme,amc,bb,gme_count
0,Ruled by the Theta Gods,2020-12-14 14:50:30,False,False,False,0
1,3k and I want more,2020-12-14 14:50:04,False,False,False,0
2,Thank you fellow retards and autists! Big ston...,2020-12-14 14:49:44,False,False,False,0
3,"AZN fair value of $55, price of $50, vaccine c...",2020-12-14 14:48:02,False,False,False,0
4,I wanna be less retarded,2020-12-14 14:48:00,False,False,False,0

In [31]:
agg_df = title_df.groupby('date')[ticker_tester].sum()
agg_df

              gme    amc    bb
date
2020-12-08     68      0    16
2020-12-09    116      1    17
2020-12-10     31      3    17
2020-12-11     35      0    28
2020-12-12     22      2    11
2020-12-13     14      0     4
2020-12-14     35      4    13
2020-12-15     33      5    10
2020-12-16     21      1     8
2020-12-17     28      4    34
2020-12-18     24      1    19
2020-12-19     16      2     7
2020-12-20     22      0    12
2020-12-21     42      2     6
2020-12-22    109      2     6
2020-12-23    151      3     9
2020-12-24     85      1     6
2020-12-25     29      0     3
2020-12-26     49      2     1
2020-12-27     71      0     2
2020-12-28    121      1    13
2020-12-29    125      4    21
2020-12-30    102     12    12
2020-12-31    134      3     9
2021-01-01     93      3     3
2021-01-02     66      1     5
2021-01-03     35      2    10
2021-01-04    103      2     9
2021-01-05     81      0    13
2021-01-06     69      5    11
2021-01-07     53      1    19
2021-01-08     70      1    51
2021-01-09     31      0    17
2021-01-10     54      0     8
2021-01-11    129      5    15
2021-01-12     58      6    19
2021-01-13    718      5    20
2021-01-14    802      6   190
2021-01-15    908     63   517
2021-01-16    415     20   124
2021-01-17    250     24    60
2021-01-18    455     18   133
2021-01-19    828     86   410
2021-01-20    593     39   416
2021-01-21    677     16   383
2021-01-22   1779    155   664
2021-01-23    973     54   319
2021-01-24    890     36   209
2021-01-25   3653    554  1938
2021-01-26   1896    233   925
2021-01-27   9382   6554  3379
2021-01-28  27482  14250  6893
2021-01-29  15431   8157  3413
2021-01-30   8177   3870  1214
2021-01-31   7478   3363   887
2021-02-01  13198   8200  1503
2021-02-02  14570   8670   899
2021-02-03   5948   3206   430
2021-02-04    305    112    24

In [28]:
title_df['date'] = title_df['date_created'].dt.date