In [21]:
import re
import pandas as pd
from datetime import datetime
import numpy as np

In [22]:
# stonk_df = pd.read_csv('/Users/gregfinin/Class/Final_Project_WSB/stocks_df_final.csv')
# stonk_df

In [23]:
path = "s3://wsb-final-project-bucket/kaggle_wsb_posts_12:6-2:6.csv"

In [24]:
# df = pd.read_csv("path")
df = pd.read_csv("../Data/cleaned_wsb_posts.csv")

In [25]:
title_df = pd.DataFrame({
    'title': df['title'],
    'date_created': pd.to_datetime(df['created_utc'], unit='s')
})
title_df

                                                    title        date_created
0                                 Ruled by the Theta Gods 2020-12-14 14:50:30
1                                      3k and I want more 2020-12-14 14:50:04
2       Thank you fellow retards and autists! Big ston... 2020-12-14 14:49:44
3       AZN fair value of $55, price of $50, vaccine c... 2020-12-14 14:48:02
4                                I wanna be less retarded 2020-12-14 14:48:00
...                                                   ...                 ...
649540  bro this is the most true shit ever and i canâ€™... 2020-12-27 18:29:16
649541  Took 5 years of losing on trading shares until... 2020-12-27 18:25:02
649542                                                ðŸ’Ž âœ‹ 2020-12-27 18:22:05
649543   Was it a dream??!ðŸ˜´ ðŸ˜´ GME opens on Monday up 100% 2020-12-27 18:19:49
649544   Trading Plan 2021 - Need your constructive input 2020-12-27 18:19:43

[649545 rows x 2 columns]

In [26]:
ticker_tester = ['gme', 'amc', 'bb']

In [27]:
title_df['date_created'].min(), title_df['date_created'].max()

(Timestamp('2020-12-08 14:51:38'), Timestamp('2021-02-04 05:42:21'))

In [28]:
date_df = pd.to_datetime(da, unit='s')
date_df

NameError: name 'da' is not defined

In [10]:
for ticker in ticker_tester:
    title_df[ticker] = np.where(title_df['title'].str.lower().str.contains(ticker), 1, 0)

In [11]:
title_df.head()

,title,date_created,gme,amc,bb
0,Ruled by the Theta Gods,2020-12-14 14:50:30,0,0,0
1,3k and I want more,2020-12-14 14:50:04,0,0,0
2,Thank you fellow retards and autists! Big ston...,2020-12-14 14:49:44,0,0,0
3,"AZN fair value of $55, price of $50, vaccine c...",2020-12-14 14:48:02,0,0,0
4,I wanna be less retarded,2020-12-14 14:48:00,0,0,0

In [12]:
title_df['gme_count'] = np.where(title_df['gme'] == True, 1, 0)

In [13]:
title_df.head()

,title,date_created,gme,amc,bb,gme_count
0,Ruled by the Theta Gods,2020-12-14 14:50:30,0,0,0,0
1,3k and I want more,2020-12-14 14:50:04,0,0,0,0
2,Thank you fellow retards and autists! Big ston...,2020-12-14 14:49:44,0,0,0,0
3,"AZN fair value of $55, price of $50, vaccine c...",2020-12-14 14:48:02,0,0,0,0
4,I wanna be less retarded,2020-12-14 14:48:00,0,0,0,0

In [18]:
title_df['date'] = title_df['date_created'].dt.date

In [20]:
agg_df = title_df.groupby('date')[ticker_tester].sum()
agg_df

              gme    amc    bb
date
2020-12-08     68      0    16
2020-12-09    116      1    17
2020-12-10     31      3    17
2020-12-11     35      0    28
2020-12-12     22      2    11
2020-12-13     14      0     4
2020-12-14     35      4    13
2020-12-15     33      5    10
2020-12-16     21      1     6
2020-12-17     24      2    33
2020-12-18     19      0    15
2020-12-19     11      1     7
2020-12-20     22      0    12
2020-12-21     42      2     6
2020-12-22    109      2     6
2020-12-23    149      3     9
2020-12-24     85      1     6
2020-12-25     29      0     3
2020-12-26     49      2     1
2020-12-27     71      0     2
2020-12-28    120      1    13
2020-12-29    125      4    21
2020-12-30    101     12    12
2020-12-31    133      3     9
2021-01-01     93      3     3
2021-01-02     66      1     5
2021-01-03     35      2    10
2021-01-04    103      2     9
2021-01-05     81      0    13
2021-01-06     64      5    10
2021-01-07     48      1    19
2021-01-08     64      1    47
2021-01-09     28      0    15
2021-01-10     52      0     8
2021-01-11    119      5    14
2021-01-12     51      6    16
2021-01-13    634      5    18
2021-01-14    694      6   155
2021-01-15    812     53   474
2021-01-16    389     20   114
2021-01-17    244     24    60
2021-01-18    454     18   131
2021-01-19    784     80   366
2021-01-20    540     39   374
2021-01-21    644     16   348
2021-01-22   1776    155   663
2021-01-23    972     54   319
2021-01-24    887     36   207
2021-01-25   3643    554  1935
2021-01-26   1887    231   923
2021-01-27   8805   6315  3230
2021-01-28  26393  13967  6705
2021-01-29  15373   8134  3396
2021-01-30   7939   3802  1199
2021-01-31   6274   3034   774
2021-02-01  10219   6969  1213
2021-02-02  11574   7454   737
2021-02-03   4717   2801   358
2021-02-04    238     94    15